@if (showNavbar()) {
  <mat-toolbar color="primary" class="fixed top-0 left-0 right-0 z-50 shadow-md">
    <span class="flex items-center font-bold text-3xl tracking-wide">
      <mat-icon class="mr-2">pets</mat-icon>
      <button routerLink="/home">Doogoo</button>
    </span>
    <div class="hidden md:flex h-full items-center gap-7 ml-15 justify-self-center">
      <a
        routerLink="/home"
        routerLinkActive="!text-[var(--mat-sys-primary)] !font-bold"
        class="inline-flex items-center text-lg"
      >
        Home
      </a>
      <a
        routerLink="/breeds"
        routerLinkActive="!text-[var(--mat-sys-primary)] !font-bold"
        class="inline-flex items-center text-lg"
      >
        Breeds
      </a>
      <a
        routerLink="/gallery"
        routerLinkActive="!text-[var(--mat-sys-primary)] !font-bold"
        class="inline-flex items-center text-lg"
      >
        Gallery
      </a>
    </div>

    <span class="flex-grow"></span>

    <div class="flex items-center space-x-2">
      <button mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>

      <div class="flex gap-4 items-center">
        @if (authService.isLoggedIn()) {
          <button mat-flat-button (click)="onLogout()">Logout</button>
        } @else {
          <a routerLink="/login" mat-stroked-button>Log in</a>
          <a routerLink="/register" mat-flat-button color="primary">Sign Up</a>
        }
      </div>
    </div>
  </mat-toolbar>
}
